
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,700&display=swap');

    *{
    margin:0;
    padding:0;
  
    box-sizing: border-box;

}

body {
    font-family:'Montserrat', sans-serif;
    overflow-x:hidden;
   
}
.wrapper{
width:100vw;
height:100vh;
background-color:#191c32;
color:white;
}
.navbar{
    display:flex;
    justify-content:space-between;
    padding:2em;
}
.brand{
    margin-top:-7px;
}
.brand span{
    color:rgb(243, 52, 195);

}


/*----------nav
nav{
    background:transparent;
    width: 100vw;
    height: 5rem;
    position: fixed;
    top:0;
    z-index: 11;
}
.window-scroll{
    background:#61608a;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);  
}
.nav_container{
    height: 100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav button{
    display: none;
}
.nav_menu{

    display: flex;
    width: 50%;
    justify-content: space-around;
} -----*/
.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.menu li{
list-style:none;
}
.menu a{
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
}
.menu .active{
    color:rgb(243, 52, 195);
}

.menu a:hover{
    color:rgb(243, 52, 195);
    transition:ease-in  .4s;
}
.main {
    
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
}
h1{
    font-size:3em;
    
}
span{
    color:rgb(243, 52, 195);
}
.download-cv, .project-details-button{
    padding:10px 20px;
    background-color:rgb(243, 52, 195);
    border:none;
    border-radius: 20px;
    margin-top:10px;
    cursor:pointer;
    -webkit-box-shadow: 1px 3px 11px -5px rgba(102,231,200, 0.69);
    -moz-box-shadow: 1px 3px 11px -5px rgba(102,231,200, 0.69);
    box-shadow:1px 3px 11px -5px rgba(102, 231, 200 , .69);
}
.download-cv:hover{
    background-color:#fff;
    box-shadow:none;
}
.main img{
    width:350px;
    border:7px solid rgb(243, 52, 195);
    height:400px;
    z-index:1;

}

.about{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    width: 100vw;
    align-items:center;
}

.about img{
    width:100%;
    grid-column:1/5;
}
.about-info{
    grid-column: 5/10;
    padding:3em;
}
.about-info h2{
    font-size:2em;
    color:#191c32;
}
.divider{
    height:4px;
    width:60px;
    background-color:rgb(243, 52, 195);
    margin-top:5px;
    margin-bottom:2em;
}

.about p{
    
     margin-bottom:1em;
}
.portfolio{
    background-color:#191c32;
    width: 100vw;
    padding:5em;
    

}
.portfolio-headings{
    width: 100vw;
   color:#fff;
    padding: 5em;
}
.porfolio-heading h2{
    font-size: 2.5em;
    
}
.portfolio .container{
    width: 80vw;
    height: 150vh;
    margin: 0 auto;
    
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    
    
}
.card{
    width:300px;
    color:#fff;
    height:350px;
    background-color: #2a2f59;;
    margin:1em;
}
.card_img{
    width:300px;
    height:150px;
    background-image:url(../img/registro.png);
    background-size:cover;
}
.card_img2{
    width:300px;
    height:150px;
    background-image:url(../img/disquete1.PNG);
    background-size:cover;
}
.card_img3{
    width:300px;
    height:150px;
    background-image:url(../img/estudio.PNG);
    background-size:cover;
}
.card_img4{
    width:300px;
    height:150px;
    background-image:url(../img/poke.png);
    background-size:cover;
}
.card_img5{
    width:300px;
    height:150px;
    background-image:url(../img/poke.png);
    background-size:cover;
}
.card_img6{
    width:300px;
    height:150px;
    background-image:url(../img/tarjeta.png);
    background-size:cover;
}
.card_img7{
    width:300px;
    height:150px;
    background-image:url(../img/agenda.PNG);
    background-size:cover;
}
.card_title{
    padding:20px;
    text-align:center;
    
}
.card_project-links{
    display:flex;
    justify-content: space-evenly;
}
.card_project-links a{
    color:#fff;
    text-decoration:none;
}
.card_project-links i{
    font-size:1.5em;
}
.card.project-details{
   
    margin:0 auto;
    margin:1em;
    width:70%;
 
}
.card.project-details a{
    text-decoration:none;
    color: #191c32;
    text-transform:uppercase;
}
.project-details-content{
    display:flex;
    width: 100%;
    justify-content:center;
    margin-top:1e;
}
.button-content{
    display:flex;
    justify-content:center;
    margin:1em;
}
.project-details-button a{
    text-decoration: none;
    color:#191c32;
    list-style:none;
}  
.contact-section{
    background-color:#191c32;
    padding:5em;
    
   
}  
.contact-headings{
    margin-top:7em;
    width: 100vw;
    color:#fff;
     padding: 5em;
}
.contact-headings h2{
font-size: 1.5em;


}
.container-contact {
 
 align-items:center;
padding:3em;
margin:0 auto;
display:grid;
grid-template-columns:repeat(2, 1fr);
gap:0;

}
.container-contact img{
    margin-top: 1em;
    width:450px;
    height:480px;
    bottom:0px;
    opacity:20%;

}
.form{
display:flex;
flex-direction:column;
width:30vw;
margin-top:2em;
}
.form input{
    padding: 10px 20px;
    margin-bottom: 1em;
    background:none;
    border:none;
    border-bottom: 1px solid #fff;
    color:#fff;
}
.form textarea{
    height:150px;
    background:none;
    color:#fff;
    padding:1.5em;
    border: 1px solid #fff;
    
}
.contact-form h4{
    color:#fff;
}
.btn-submit{
    padding:10px 20px;
    margin:1em ;
    border:none;
    text-transform: uppercase;
    background-color:rgb(243, 52, 195) ;
    border-radius:20px;
    cursor:pointer;
    box-shadow:1px 3px 11px -5px rgba(102, 231, 200 , .69);
}
.btn-submit:hover{
    background-color:#fff;
    box-shadow: none;
}
.footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-color:rgb(243, 52, 195);
}
.footer-content h2 {
    font-size:3em;
}
.footer-content h5 {
    font-size:1.5em;
    text-align: center;
}
.sotial-network{
    display:flex;
    justify-content:space-between;
    width:300px;
    margin-top:1em;
}
.sotial-network i{
    font-size:1.5em;
}